.*
!.gitignore
!.github
!.editorconfig
!.tidyrc.json
!.eslintrc.json

output
output.bak
generated-docs
bower_components

node_modules
*.lock
package-lock.json
java_output/
classes/
.spago/
*.class
*.java.bak
.DS_Store
